.vscode/
storage/

# 前端依赖
fronted/admin/yunyez-admin/node_modules/
fronted/v1/yunyez-admin-v1/node_modules/
fronted/Yunyez/node_modules/

# nlu 模型
ai/nlu/model/
# asr 模型输出
ai/asr/out/
# asr 语音数据
ai/asr/data/

# Python
__pycache__/
*.pyc
*.pyo

# 配置文件
configs/**/ai.yaml
configs/**/default.yaml

# 脚本文件
example/scripts/bash.sh
