@font-face {
  font-family: "iconfont"; /* Project id 5088216 */
  src: url('iconfont.woff2?t=1765698347783') format('woff2'),
       url('iconfont.woff?t=1765698347783') format('woff'),
       url('iconfont.ttf?t=1765698347783') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-zonglan:before {
  content: "\e608";
}

.icon-yuyin:before {
  content: "\e8f7";
}

.icon-jiqirenfushi:before {
  content: "\e623";
}

