@font-face {
  font-family: "iconfont"; /* Project id 5088216 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1778397518933') format('woff2'),
       url('iconfont.woff?t=1778397518933') format('woff'),
       url('iconfont.ttf?t=1778397518933') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengyin-copy:before {
  content: "\ebcd";
}

.icon-shengyin:before {
  content: "\e665";
}

.icon-gerenxinxi_o:before {
  content: "\ebcc";
}

.icon-zhedie:before {
  content: "\e647";
}

.icon-zhedie2:before {
  content: "\e620";
}

.icon-shebeiguanli:before {
  content: "\ebb7";
}

.icon-xianluomao:before {
  content: "\e64d";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-zonglan:before {
  content: "\e608";
}

.icon-yuyin:before {
  content: "\e8f7";
}

.icon-jiqirenfushi:before {
  content: "\e623";
}

